.categoryContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 5rem 0;
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  padding-top: 48px;
}

.categoryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoryHeader h2 {
  font-family: Clash Display Variable;
  font-size: 48px;
  font-weight: 600;
  line-height: 52.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}
.categoryHeader h2 span {
  color: #26a4ff;
}
.categoryHeader a {
  font-size: 16px;
  font-weight: 600;
  line-height: 25.6px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.arrowSign {
  height: 1.5rem;
  margin-left: 0.5rem;
}

/* card css */
.card {
  width: 250px;
  height: 214px;
  border: 1px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: first baseline;
  padding-left: 32px;
  padding-top: 32px;
}

.card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  background-color: #4640de;
  color: white;
}
.card:hover .cardIcon path {
  stroke: white; /* Change stroke color on hover */
}



.cardIcon {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
}

.cardTitle {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.cardDescription {
  font-size: 14px;
  color: #666;
}

.arrowIcon {
  width: 20px;
  height: 20px;
}

.cardDescContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
