/* index.module.css */
.headerContainer {
  background-color: var(--primary-bg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
  max-width: 1120px;
  margin: 0 auto;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 48px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logoImg {
  height: 40px;
}

.logoText {
  font-size: 24px;
  font-weight: 700;
  color: var(--secondary-bg);
}

.navLinks {
  display: flex;
  gap: 24px;
}

.navLink {
  color: var(--secondary-bg);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navLink:hover {
  color: var(--primary-button);
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.loginBtn {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-bg);
  cursor: pointer;
}

.signupBtn {
  background-color: var(--primary-button);
  padding: 12px 20px;
  color: var(--text-light);
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.signupBtn:hover {
  background-color: var(--primary-button-hover);
}

.divider {
  width: 1px;
  height: 48px;
  background-color: var(--secondary-bg);
  opacity: 0.2;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    padding: 15px 30px;
  }

  .leftSection {
    gap: 24px;
  }

  .navLinks {
    display: none; /* Hide links on smaller screens */
  }

  .rightSection {
    gap: 12px;
  }

  .signupBtn {
    padding: 10px 16px;
    font-size: 14px;
  }
}
